#CartContainer {
    min-height: 34vh;
    height: 100%;
}

.CartItem, #Details {
    display: flex;
    width: 100%;
    border-style: solid;
    border-width: 1px;
}

.CartItemCol, .DetailsCol {
    width: 30%;
    margin-left: 10px;
}

.CartItemCol img {
    margin-top: 5px;
    width: 70%;
    height: 200px;
}

.CartItem {
    margin-top: 5px;
    margin-bottom: 5px;
}

#Details p {
    margin-left: 10px;
}

.CartItem::after, #Details::after, #CartContainer::after {
    content: "";
    clear: both;
    display: block;
}